.header {
    width: 138px;
    padding: 1rem;
    background-color: rgb(23, 44, 64);
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.header--extend {
    width: 275px;
}

.header__container--button {
    text-align: center;
}

.header__container--links {
    text-align: left;
}

.header__button {
    border: none;
    background: transparent;
}

.header__nav {
    display: none;
}

.header__nav--extend {
    display: block;
    color: white;
    margin-top: 2rem;
}

.header__text {
    margin-top: 0;
    color: #d7d7d7;
    text-transform: uppercase;
}

.header__button--link {
    cursor: pointer;
}

.header__button--link:hover {
    background-color: #24425d;
}

.header__selector {
    background: transparent;
    border: solid 2px white;
    color: white;
    position: absolute;
    right: 60%;
    height: 32px;
    width: 60px;
}

.header__logo {
    width: 100%;
    padding: 1rem;
}

.header__social {
    display: flex;
    justify-content: center;
    align-items: center;
}